.container {
    display: flex;
    flex-direction: column;
}

.control-bar {}

.playground {
    display: grid;
    gap: 8px;
    overflow-x: scroll;
    box-sizing: border-box;
}

.box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
}

.box.over {
    border: 3px dotted #666;
}

[draggable] {
    user-select: none;
}